:root {
  /* unit to control the size of the flag background */
  --flag-unit: 1vw;
}

@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata/Inconsolata.ttf");
}

@font-face {
  font-family: "Courier Prime";
  src: url("../fonts/Courier_Prime/CourierPrime-Regular.ttf");
}

body {
  color: antiquewhite;
  min-height: 100vh;
}

#background-container {
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: -2;
}

.flag-uk-container {
  position: absolute;
}

#flagBackground2 {
  display: block;
  top: calc(60 * var(--flag-unit));
}

#flagBackground3 {
  display: block;
  top: calc(2 * (60 * var(--flag-unit)));
}

#overlay {
  background-color: rgba(8, 8, 0, 0.95);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#pageHeader {
  /* background-color: antiquewhite; */
  color: antiquewhite;
  display: flex;
  height: 50px;
  margin-bottom: 5vw;
}

img.logo.logo-dark {
  content: url("../images/logos/colour_beard_no_eb_ondarkbg_thicker.svg");
}

#logoNavbar {
  height: 45px;
  width: 45px;
}

#logoDecoration {
  height: 45px;
  width: 45px;
}

#homeLogoLink {
  align-items: center;
  display: flex;
}

#pageHeader > nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

#pageHeader > nav ul {
  display: flex;
}

#hero-container {
  font-family: "Courier Prime", monospace;
  margin: 0 auto;
  max-width: 75vw;
}

#hero-content {
  background-image: linear-gradient(
    110deg,
    rgba(100, 100, 100, 0.1),
    rgba(0, 0, 0, 0.1) 100%
  );
  border-radius: 6vw;
  box-shadow: -1vw -1vw 2vw #404040, 1vw 1vw 2vw black;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 35em;
  overflow: hidden;
  padding: 5vw;
}

.declare-word {
  color: orchid;
}

.variable-word {
  color: lightcoral;
}

.method-word {
  color: lightskyblue;
}

.string-word {
  color: mediumspringgreen;
}

.tab {
  padding-left: 2ch;
  text-indent: -2ch;
}

#socialContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4vw;
}

.social-media {
  background-color: #333333;
  border: 1px solid #222222;
  border-radius: 4px;
  height: 36px;
  margin: 2px;
  width: 36px;
}

#footerAddress {
  padding: 2em 0;
  text-align: center;
}

@media (min-aspect-ratio: 5/3) {
  #flagBackground2 {
    display: none;
  }
}

@media (min-aspect-ratio: 5/6) {
  #flagBackground3 {
    display: none;
  }
}
