:root {
  /* unit to control the size of the flag background */
  --flag-unit: 1vw;
  --color-dark-foreground: #f9f9f9;
  --color-dark-background: #101010;
}

/* removed browser default highlighting as it looks awful! */
/* *:focus::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--color-dark-foreground);
  width: 100%;
} */

:root * {
  border: 1px solid red;
}

@font-face {
  font-family: "Red Rose";
  src: url("../fonts/RedRose-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Courier Prime";
  src: url("../fonts/Courier_Prime/CourierPrime-Regular.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: RalewayDots;
  src: url("../fonts/RalewayDots-Regular.ttf");
}

@font-face {
  font-family: PoiretOne;
  src: url("../fonts/PoiretOne-Regular.ttf");
}

@font-face {
  font-family: Forum;
  src: url("../fonts/Forum-Regular.ttf");
}

body {
  color: var(--color-dark-foreground);
  display: flex;
  flex-direction: column;
  font-family: Roboto-Regular, Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
  min-height: 100vh;
}

#background-container {
  height: 100%;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: -2;
}

.flag-uk-container {
  position: absolute;
}

#flagBackground2 {
  display: block;
  top: calc(60 * var(--flag-unit));
}

#flagBackground3 {
  display: block;
  top: calc(2 * (60 * var(--flag-unit)));
}

#overlay {
  background-color: rgba(8, 8, 0, 0.95);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#pageHeader {
  color: var(--color-dark-foreground);
  display: flex;
  flex-grow: 0;
  font-family: "Red Rose", Verdana, Geneva, Tahoma, sans-serif;
  height: 56px;
  margin-bottom: 5vw;
  padding-top: 4px;
}

#pageHeader h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  margin-left: 1vw;
}

.logo-dark {
  content: url("../images/logos/colour_beard_no_eb_ondarkbg_thicker.svg");
}

#logoNavbar {
  height: 52px;
  width: 52px;
}

#logoDecoration {
  height: 45px;
  width: 45px;
}

#homeLogoLink {
  align-items: center;
  display: flex;
  margin-left: 10px;
}

#hamburgerIcon {
  fill: var(--color-dark-foreground);
  margin: auto 20px;
}

#pageHeader .hamburger {
  transition: all 0.3s ease-out;
}

#pageHeader.expanded .tophamburger {
  transform: translate3d(5px, 5px, 0) rotate(45deg);
  transform-origin: top left;
}

#pageHeader.expanded .middlehamburger {
  width: 0;
}

#pageHeader.expanded .bottomhamburger {
  transform: translate3d(-16px, 6px, 0) rotate(-45deg);
  transform-origin: top left;
}

#pageHeader > nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

#pageHeader > nav ul {
  transition: opacity 0.5s ease, left 0.3s ease;
  background-color: var(--color-dark-background);
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  left: 100%;
  opacity: 0;
  position: absolute;
  top: 58px;
  width: 0;
}

#pageHeader > nav ul a {
  display: block;
}

#pageHeader.expanded > nav ul {
  left: 0;
  opacity: 1;
  padding: 10px 20px;
  transition: opacity 0.3s ease, left 0.1s ease-in;
  width: 100%;
}

#pageHeader > nav ul li {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  padding: 10px 0;
  transition: font-size ease 0.2s;
}

#pageHeader > nav ul li:hover,
#pageHeader > nav ul li:focus {
  font-size: 2.2rem;
}

main {
  flex-grow: 0;
}

#hero-container {
  font-family: "Courier Prime", monospace;
  margin: 0 auto;
  max-width: 75vw;
}

#hero-content {
  background-image: linear-gradient(
      110deg,
      rgba(161, 35, 35, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(rgba(0, 0, 129, 0.3) 0%, rgba(0, 0, 129, 0.3) 100%);
  border-radius: 6vw;
  box-shadow: -1vw -1vw 2vw #404040, 1vw 1vw 2vw black;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 40em;
  overflow: hidden;
  padding: 5vw;
}

#hero-content a {
  text-decoration: underline;
}

.declare-word {
  color: orchid;
}

.variable-word {
  color: lightcoral;
}

.method-word {
  color: lightskyblue;
}

.string-word {
  color: mediumspringgreen;
}

.tab {
  padding-left: 2ch;
  text-indent: -2ch;
}

#footer-spacer {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
  width: 100%;
}

#socialContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.social-media {
  background-color: #333333;
  border: 1px solid #222222;
  border-radius: 4px;
  height: 40px;
  margin: 2px;
  width: 40px;
}

#footerEmail {
  padding: 28px 0;
  text-align: center;
}

@media (min-aspect-ratio: 5/3) {
  #flagBackground2 {
    display: none;
  }
}

@media (min-aspect-ratio: 5/6) {
  #flagBackground3 {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  /* #pageHeader > nav ul {
    flex-direction: row;
  } */
}
