main {
  flex-grow: 1;
}

h1 {
  font-family: "Red Rose", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2rem;
}

#skillsContainer {
  display: flex;
  flex-flow: row wrap;
}

.skill img {
  height: 50px;
  width: 50px;
}

.skill-description {
  max-width: 20em;
}
