:root {
  --color-foreground: #f9f9f9;
  --color-background: #101010;
  --logo-url: url("../assets/images/logos/colour_beard_no_eb_ondarkbg_thicker.svg");
  --link-underline: #312e24;
  --link-underline-thispage: #5d522d;
  --sm-icon-bg: var(--color-secondary-dark);
}
