footer {
  flex-grow: 0;
  width: 100%;
}

#socialContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
  margin-top: 60px;
}

#socialContainer > * {
  flex: 0 1 70px;
}

.icon-holder-footer div.icon {
  background-color: var(--sm-icon-bg);
  border-radius: 50%;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
  height: 60px;
  margin: auto;
  padding: 12px;
  width: 60px;
}

.icon-holder-footer div.icon img {
  height: auto;
  width: 100%;
}

.icon-holder-footer #linkedin-icon {
  padding: 15px 14px 14px 14px;
}
