:root {
  /* default dark theme style */
  --color-foreground: #f9f9f9;
  --color-background: #101010;
  --color-primary-dark: #837c65;
  --color-primary-light: #e5ddc3;
  --color-primary-ultralight: #fffde7;
  --color-primary-standard: #b3ab93;
  --color-secondary-dark: #4b636e;
  --color-secondary-light: #a7c0cd;
  --color-secondary-standard: #78909c;
  --logo-url: url("../assets/images/logos/colour_beard_no_eb_ondarkbg_thicker.svg");
}

/* removed browser default highlighting as it looks awful! */
*:focus {
  outline: 2px dotted var(--color-foreground);
  outline-offset: 4px;
}

/* :root * {
  border: 1px solid red;
} */

/* TODO: Social media Icons  */

@font-face {
  font-display: swap;
  font-family: "Red Rose";
  src: url("../assets/fonts/RedRose-VariableFont_wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Courier Prime";
  src: url("../assets/fonts/Courier_Prime/CourierPrime-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Roboto-Regular;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Raleway;
  src: url("../assets/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: RalewayDots;
  src: url("../assets/fonts/RalewayDots-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: PoiretOne;
  src: url("../assets/fonts/PoiretOne-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Forum;
  src: url("../assets/fonts/Forum-Regular.ttf");
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  font-family: Roboto-Regular, Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
  min-height: 100vh;
}

button:focus-visible {
  box-shadow: 0 0 4px 0 var(--color-background),
    0 0 14px 0 var(--color-foreground);
}

#pageHeader {
  color: var(--color-foreground);
  display: flex;
  flex-grow: 0;
  font-family: "Red Rose", Verdana, Geneva, Tahoma, sans-serif;
  height: 56px;
  margin-bottom: min(3vw, 20px);
  padding-top: 4px;
}

#headerName {
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  margin-left: 3vw;
}

@media only screen and (min-width: 360px) {
  #headerName {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
}

.logo {
  content: var(--logo-url);
}

#logoNavbar {
  height: 52px;
  width: 52px;
}

#logoDecoration {
  height: 45px;
  width: 45px;
}

#homeLogoLink {
  align-items: center;
  display: flex;
  margin-left: 10px;
  overflow: hidden;
}

#hamburgerIcon {
  fill: var(--color-foreground);
  margin: auto 20px;
}

#pageHeader .hamburger {
  transition: all 0.3s ease-out;
}

#pageHeader.expanded .tophamburger {
  transform: translate3d(5px, 5px, 0) rotate(45deg);
  transform-origin: top left;
}

#pageHeader.expanded .middlehamburger {
  width: 0;
}

#pageHeader.expanded .bottomhamburger {
  transform: translate3d(-16px, 6px, 0) rotate(-45deg);
  transform-origin: top left;
}

#pageHeader > nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#pageHeader > nav ul {
  transition: padding 0.01s 0.5s, opacity 0.5s ease, left 0.01s 0.51s,
    width 0.01s 0.5s;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  left: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 58px;
  width: 0;
}

#pageHeader > nav ul a {
  display: block;
}

#pageHeader.expanded > nav ul {
  left: 0;
  opacity: 1;
  overflow: visible;
  padding: 10px 20px;
  transition: padding 0.01s ease 0.05s, opacity 0.4s ease, left 0.05s ease-in,
    width 0.01s ease-in 0.05s;
  width: 100%;
}

/* collapse main content on flyout menu open - only needed for v low 
 * aspect ratio viewports where scrolling of menu is possible */
#pageHeader.expanded ~ * {
  height: 0;
  overflow: hidden;
}

#pageHeader > nav ul li {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  padding: 4px 0;
  transition: font-size ease 0.2s;
  white-space: nowrap;
}

#pageHeader > nav ul li a.active {
  font-weight: bold;
}

#pageHeader > nav ul li:hover,
#pageHeader > nav ul li a:focus {
  font-size: 2.2rem;
  transition: font-size ease 0.2s;
}

main {
  margin: 0 0 auto 0;
}

footer {
  flex-grow: 0;
  width: 100%;
}

#socialContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.social-media {
  background-color: var(--media-icon-background);
  border: 1px solid var(--media-icon-border);
  border-radius: 4px;
  height: 40px;
  margin: 2px;
  width: 40px;
}

#footerEmail {
  padding: 28px 0;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  #hamburgerIcon {
    display: none;
  }

  #menu a::after {
    border-bottom: 2px solid var(--link-underline);
    content: "";
    display: block;
    width: 100%;
  }

  #pageHeader > nav ul li a.active {
    font-size: 1.3rem;
    font-weight: normal;
  }

  #menu a.active::after {
    border-bottom: 3px solid var(--link-underline-thispage);
    content: "";
    display: block;
    width: 100%;
  }

  #pageHeader > nav ul {
    align-items: center;
    background-color: transparent;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    opacity: 1;
    padding-right: 1vw;
    position: relative;
    top: 0;
    width: revert;
  }

  #pageHeader > nav ul a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1vw;
  }

  #pageHeader > nav ul li {
    display: flex;
    font-size: 1rem;
    height: 25px;
    line-height: 1;
    padding: 0;
  }

  #pageHeader > nav ul li:hover,
  #pageHeader > nav ul li a:focus {
    font-size: 1.3rem;
  }

  /* put back main content on larger screens in case of window resizing */
  #pageHeader.expanded ~ * {
    height: revert;
    overflow: revert;
  }

  #pageHeader.expanded > nav ul {
    width: revert;
  }
}

.hidden {
  display: none;
}
