h1 {
  text-align: center;
}

main div {
  line-height: 1.2;
}

/* wide screen navigation tab styling - reveal for larger screens */
#tablist-largescreen {
  background-color: var(--color-secondary-light);
  display: none;
}

li.largescreen {
  border-right: 1px dotted var(--color-secondary-dark);
  display: flex;
  flex: 0 0 25%;
  font-size: 1.1rem;
}

li.largescreen a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

li.largescreen a:hover {
  text-decoration: underline;
}

li.largescreen:last-child {
  border: none;
}

li.largescreen.activetab {
  background-color: var(--color-secondary-standard);
  font-weight: bold;
}

li.largescreen.activetab a {
  cursor: default;
}

li.largescreen.activetab a:hover {
  text-decoration: none;
}

/* reveal for wide screens, & remove small screen tabs */
@media only screen and (min-width: 500px) {
  #tablist-largescreen {
    border: 2px solid var(--color-secondary-dark);
    border-width: 2px 0 2px 0;
    display: flex;
    height: 48px;
    justify-content: space-around;
  }

  .list-label.smallscreen {
    display: none;
  }
}

/* small screen navigation tab styling */
div.list-label {
  background-color: var(--color-secondary-light);
  font-size: 1.5rem;
  height: 36px;
  margin: 4px auto;
  padding-left: 8px;
  width: 100%;
}

div.list-label.activetab {
  background-color: var(--color-secondary-standard);
  font-weight: bold;
  text-shadow: 0px 0px 4px #fff;
}

.list-label.smallscreen a {
  align-items: center;
  display: flex;
  height: 100%;
}

.swipe-content {
  display: none;
}

.swipe-content:target {
  display: block;
}

/* main projects content styling */
.projects-page-content-section {
  display: block;
}

.project {
  background-color: var(--color-primary-ultralight);
  box-shadow: 0 0 5px 3px #4444;
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}

/* hide description and allow click to reveal */
div.project-description-inner {
  display: none;
  font-size: 1rem;
  font-style: italic;
}

div.project-description-inner.moretext {
  display: block;
  cursor: pointer;
}

div.project-description-inner.moretext::before {
  content: "click for description...";
}

/* reveal when checked */
input.description-checkbox:checked ~ div.project-description-inner {
  display: block;
}

input.description-checkbox:checked ~ div.project-description-inner.moretext {
  display: none;
}

/* small screen project layout */
.project {
  display: grid;
  grid-template-areas:
    "title screenshot"
    "tldr screenshot"
    "link screenshot"
    "description description";
  grid-template-columns: 8fr 5fr;
  grid-template-rows: 60px 70px auto auto;
  margin-bottom: 24px;
  position: relative;
  word-break: break-word;
}

.project > div {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.project > div.project-title {
  align-items: flex-end;
  font-size: 1.4rem;
  font-weight: bold;
  grid-area: title;
  text-align: center;
}
.project > div.project-tldr {
  font-size: 1rem;
  grid-area: tldr;
  justify-content: space-around;
  overflow-y: auto;
  text-align: center;
}
.project-tldr::before {
  background-color: #fff;
  border-radius: 4px;
  color: var(--color-primary-dark);
  content: "TLDR:";
  flex: 0 0 60px;
  font-family: Roboto-Regular, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  padding: 2px 3px 2px 2px;
}
.project-screenshot {
  grid-area: screenshot;
  padding: 6px;
}
.project-description {
  grid-area: description;
  padding: 6px;
}
.project-link {
  flex-wrap: wrap;
  font-size: 0.8rem;
  grid-area: link;
  margin: 4px 0;
}
@media only screen and (min-width: 500px) {
  .project-link {
    font-size: 1rem;
  }
  .project > div.project-tldr {
    font-size: 1.2rem;
  }
}
.project-github {
  grid-area: github;
}
.project-link:not(.android) a,
.project-github a {
  align-items: center;
  display: flex;
}
.project-github a::before,
.project-link:not(.android) a::before {
  background-color: #fff;
  background-image: url(../assets/images/logos/tech/github.svg);
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 4px;
  content: "";
  display: inline-block;
  flex: 0 0 26px;
  height: 26px;
  margin-right: 4px;
  width: 26px;
}
.project-github a::after {
  content: "Github repo";
}

.project-link:not(.android) a::before {
  background-image: url(../assets/images/icons/ic_weblink.svg);
}

@media only screen and (max-width: 380px) {
  .project-link::before {
    display: none;
  }
}

.project-inline-icon.project-icon-playstore {
  display: flex;
}
.project-inline-icon.project-icon-playstore::before {
  background-image: url(../assets/images/logos/tech/google-play-badge_80.png);
  background-size: cover;
  content: "";
  display: inline-block;
  height: 48px;
  width: 130px;
}

.project-screenshot img {
  object-fit: contain;
  max-height: 184px;
  width: 100%;
}

/* add icons to icon divs */
.project-technology-icons {
  align-items: center;
  display: flex;
  left: 2px;
  position: absolute;
  top: 4px;
}

.project-tech-icon {
  align-items: center;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 1px;
  padding: 3px;
  position: relative;
}

.project-tech-icon::before {
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 15px;
  position: relative;
  top: 1px;
  width: 15px;
}
.project-tech-icon.css::before {
  background-image: url(../assets/images/logos/tech/CSS3_logo.svg);
}
.project-tech-icon.html::before {
  background-image: url(../assets/images/logos/tech/HTML5.svg);
}
.project-tech-icon.js::before {
  background-image: url(../assets/images/logos/tech/javascript.svg);
  left: 1px;
}
.project-tech-icon.json::before {
  background-image: url(../assets/images/logos/tech/JSON.svg);
  top: 0;
}
.project-tech-icon.php {
  padding: 2px;
}
.project-tech-icon.php::before {
  background-image: url(../assets/images/logos/tech/php.svg);
  height: 11px;
  width: 18px;
}
.project-tech-icon.mariadb {
  padding: 2px;
}
.project-tech-icon.mariadb::before {
  background-image: url(../assets/images/logos/tech/mariadb_white_notext.svg);
  height: 16px;
  top: 2px;
  width: 16px;
}
.project-tech-icon.android::before {
  background-image: url(../assets/images/logos/tech/Android_head.svg);
  height: 14px;
  top: 0;
  width: 19px;
}
.project-tech-icon.xml {
  padding: 2px;
}
.project-tech-icon.xml::before {
  background-image: url(../assets/images/logos/tech/xml_plain_white.svg);
  height: 14px;
  top: 2px;
  width: 19px;
}
.project-tech-icon.java {
  background-color: #fff;
  border: 0.5px solid var(--color-secondary-dark);
  padding: 1px;
}
.project-tech-icon.java::before {
  background-image: url(../assets/images/logos/tech/java_no_outline_orig_full.svg);
  height: 17px;
  top: -1px;
  left: 2px;
  width: 17px;
}

/* End of tech icons styling */

/* wide screen project layout */
@media only screen and (min-width: 800px) {
  .project {
    border-radius: 4px;
    display: grid;
    grid-template-areas:
      "title tldr"
      "screenshot description"
      "link . ";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 40px 1fr min-content;
    margin: 12px auto;
    max-width: 1000px;
    padding: 12px 4px;
  }

  div.project-description-inner {
    display: block;
  }
  div.project-description-inner.moretext {
    display: none;
  }

  .project-tldr::before {
    position: static;
  }

  .project-description {
    padding: 8px;
  }

  .project-tldr {
    font-size: 1.3rem;
  }
  .project > div.project-tldr {
    justify-content: space-evenly;
  }
  /* remove extra padding from play store image */
  .project-link.android {
    margin: -4px;
  }

  .project-screenshot img {
    max-height: none;
  }
}

/* Further styling specific to non "Large Projects" sections */
/* Little Things Section */
.little-projects .project {
  grid-template-areas:
    "title screenshot"
    "tldr screenshot"
    "link screenshot"
    "github screenshot"
    "description description";
  grid-template-rows: 60px 70px auto auto auto;
}
