:root {
  --flag-blue: rgb(0, 36, 125);
  --flag-red: rgb(207, 20, 43);
  /* set this to adjust the size of the flag: 1vw makes the flag take 100% of the viewport width
   * 0.5vw gives half width etc */
  --flag-unit: 1vw;
}

.flag-uk-container {
  background-color: var(--flag-blue);
  height: calc(60 * var(--flag-unit));
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: calc(100 * var(--flag-unit) - 17px);
}

.flag-uk-container:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      transparent 40%,
      var(--flag-red) 40%,
      var(--flag-red) 60%,
      transparent 60%
    ),
    linear-gradient(
      90deg,
      transparent 44%,
      var(--flag-red) 44%,
      var(--flag-red) 56%,
      transparent 56%
    ),
    linear-gradient(transparent 33%, white 33%, white 67%, transparent 67%),
    linear-gradient(
      90deg,
      transparent 40%,
      white 40%,
      white 60%,
      transparent 60%
    ),
    /* little red lines here */ /* bottom-right */
      linear-gradient(
        31deg,
        transparent 50%,
        var(--flag-red) 0,
        var(--flag-red) 53.4%,
        transparent 0
      )
      calc(50 * var(--flag-unit)) calc(30 * var(--flag-unit)),
    /* top left */
      linear-gradient(
        31deg,
        transparent 50%,
        var(--flag-red) 0,
        var(--flag-red) 53.4%,
        transparent 0
      )
      calc(-50 * var(--flag-unit)) calc(-26 * var(--flag-unit)),
    /* top right */
      linear-gradient(
        329deg,
        transparent 50%,
        var(--flag-red) 0,
        var(--flag-red) 53.4%,
        transparent 0
      )
      calc(50 * var(--flag-unit)) calc(-30 * var(--flag-unit)),
    /* bottom left */
      linear-gradient(
        329deg,
        transparent 50%,
        var(--flag-red) 0,
        var(--flag-red) 53.4%,
        transparent 0
      )
      calc(-50 * var(--flag-unit)) calc(34 * var(--flag-unit)),
    linear-gradient(
      31deg,
      transparent 45%,
      white 45%,
      white 55%,
      transparent 55%
    ),
    linear-gradient(
      329deg,
      transparent 45%,
      white 45%,
      white 55%,
      transparent 55%
    );
  background-repeat: no-repeat;
}

#background-container {
  height: 100%;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: -2;
}

#flagBackground2 {
  display: block;
  top: calc(60 * var(--flag-unit));
}

#flagBackground3 {
  display: block;
  top: calc(2 * (60 * var(--flag-unit)));
}

#flagBackground4 {
  display: block;
  top: calc(3 * (60 * var(--flag-unit)));
}

#overlay {
  background-color: rgba(8, 8, 0, 0.95);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

@media (min-aspect-ratio: 5/3) {
  #flagBackground2 {
    display: none;
  }
}

@media (min-aspect-ratio: 5/6) {
  #flagBackground3 {
    display: none;
  }
}

@media (min-aspect-ratio: 5/9) {
  #flagBackground4 {
    display: none;
  }
}
